.answer-candidate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.answer-candidate {
    width: calc(33% - 20px);
    height: 150px;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-candidate p {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}