.hangman-img {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.word-container {
  text-align: center;
  margin: 30px 0;
  position: relative;
}

.word-letter {
  display: inline-block;
  font-size: 24px;
  margin: 0 5px;
}

.hangman-image {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.alphabet-container {
  text-align: center;
  margin-top: 20px;
}

.keyboard-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  font-size: 16px;
  background-color: #ccc;
  color: #333;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}

.history-container {
  text-align: center;
  margin-top: 20px;
}

.history-letter {
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  background-color: #ccc;
  color: #333;
  padding: 5px;
  border-radius: 5px;
}
